.admin__menu .level-0.item-ac-menu-admin>a:before {
    content: '';
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}