<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="getprovider" frontName="getprovider">
            <module name="Actecnology_GetProvider" />
        </route>
    </router>
</config>
