<?xml version="1.0"?>
<!--
/**
 * @author Actecnology Team
 * Copyright ©  All rights reserved. 2023 Actecnology (https://actecnology.com/)
 * @package Actecnology_GetProvider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Actecnology_GetProvider" setup_version="1.0.0">
    </module>
</config>