<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="actecnologytab" translate="label" sortOrder="80">
            <label>AC Tecnology Tab</label>
        </tab> -->
        <section id="actecnologysection" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Actecnology Section</label>
            <tab>actecnology</tab> <!--asi se muestra en un tab ya existente-->
            <resource>Actecnology_ModuloBasico::config_actecnology</resource>
            <group id="actecnologygroup" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Config Page Group</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title Actecnology</label>
                </field>
            </group>
        </section>
    </system>
</config>