<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Actecnology_SaleSku::salesku" title="Sales SKU" module="Actecnology_SaleSku" sortOrder="10" resource="Actecnology_SaleSku::salesku"/>
        <!-- <add id="Actecnology_SaleSku::salesku_info" title="Sales Information" module="Actecnology_SaleSku" parent="Actecnology_SaleSku::salesku" action="sales/sale/index" resource="Actecnology_SaleSku::salesku_info" sortOrder="10"/> -->
        <add id="Actecnology_SaleSku::salesku_info" title="Sales Information" module="Actecnology_SaleSku" parent="Actecnology_SaleSku::salesku" action="actecnology_salesku/sale/index" resource="Actecnology_SaleSku::salesku_info" sortOrder="10"/>
        <!-- para el reporte de diario -->
        <add id="Actecnology_SaleSku::daily_report" title="Reporte diario de ventas" module="Actecnology_SaleSku" resource="Actecnology_SaleSku::daily_report" parent="Actecnology_SaleSku::salesku" action="actecnology_salesku/dailyreport/index" sortOrder="10" />


    </menu>
</config>
